@section meta {
    <meta name="description" content="Official website of Guy Carver McBeth. The resource for updates, information and photos of Guy McBeth.">
    <meta name="keywords" content="Guy McBeth, Guy Carver McBeth">
}

<div class="row">
    <div class="col-sm-6">
        <img src="~/images/guy_face4.jpg" class="img-circle img-responsive" style="box-shadow: 2px 2px 5px grey" alt="Guy Carver McBeth" />
    </div>
    <div class="col-sm-6">
        <h1 class="text-center">Guy Carver McBeth</h1>
        <p class="lead">Born on September 8, 2017 at 8:58 PM with a weight of 5lb, 5oz and a length of 19.1 inches.</p>
        <p class="lead" id="elapsed"></p>
        <p>If you want to get me a gift or want to know sizing information you can access it by visiting the <a asp-area="" asp-controller="Gifts" asp-action="Index">Gifts</a> page. If you were looking for updates about me you can check out the <a asp-area="" asp-controller="Blog" asp-action="Index">blog</a>. Check out the <a href="https://1drv.ms/a/s!Akh_WeVgv7PQhPcC-Dy4579lqzgBFw">photos</a> section if you want to see pictures of me.</p>
        <p id="lastUpdated"></p>
    </div>
</div>

@section scripts {
    <script>
        var birthdate = new Date(2017, 8, 8, 20, 58, 0, 0);
        var dueDate = new Date(2017, 9, 27);

        function getElapsedDuration(date)
        {
            var then = moment(date);
            var now = moment();

            var difference = now.diff(then);

            var elapsed = moment.duration(difference);

            return elapsed;
        }

        function pluralize(count, text)
        {
            var result = count + " " + text;

            if (count != 1)
            {
                result += "s";
            }

            return result;
        }

        function displayAge() {
            var age = getElapsedDuration(birthdate);
            var adjustedAge = getElapsedDuration(dueDate);

            console.log(adjustedAge);


            var elapsedMessage = "It has been " +
                pluralize(Math.floor(age.asDays()), "day") + ", " +
                pluralize(age.hours(), "hour") + ", and " +
                pluralize(age.minutes(), "minute") + " since I was born! That makes me " + pluralize(age.months(), "month") + " and " + pluralize(age.weeks(), "week") + " old! My adjusted age is " + pluralize(adjustedAge.months(), "month") + " and " + pluralize(adjustedAge.weeks(), "week") + ".";

            $("#elapsed").text(elapsedMessage);
        }

        function displayLastUpdatedDate() {
            $.get("/Home/LastUpdated").done(function (lastUpdated) {
                var date = moment(lastUpdated);

                $("#lastUpdated").text("My site was last updated " + date.fromNow() + ".");
            });
        }

        $(document).ready(function () {
            displayAge();
            displayLastUpdatedDate();
        });
    </script>
}