<div class="row">
  <div class="col-sm-6">
    <img src="images/guy_face6.jpg" class="img-circle img-responsive" style="box-shadow: 2px 2px 5px grey" alt="Guy Carver McBeth" />
  </div>
  <div class="col-sm-6">
    <h1 class="text-center">Guy Carver McBeth</h1>
    <p class="lead">Born on September 8, 2017 at 8:58 PM with a weight of 5lb, 5oz and a length of 19.1 inches.</p>
    <p class="lead">It has been {{ duration }} since I've been born.</p>
    <p>If you want to get me a gift or want to know sizing information you can access it by visiting the <a asp-area="" asp-controller="Gifts" asp-action="Index">Gifts</a> page. If you were looking for updates about me you can check out the <a asp-area="" asp-controller="Blog" asp-action="Index">blog</a>. Check out the <a asp-area="" asp-controller="Photos" asp-action="Index">photos</a> section if you want to see pictures of me.</p>
  </div>
</div>  
