<h1>Photos</h1>
<p>You can find a series of photo albums below.</p>
<h2>Albums</h2>
<ul class="list-unstyled">
  <li><a href="https://1drv.ms/u/s!Akh_WeVgv7PQhoImBklB4n1k9ECnWA?e=7AmuO1" target="_blank">June 2019</a></li>
  <li><a href="https://1drv.ms/u/s!Akh_WeVgv7PQhfs68AYoIKAcHRPyHw?e=KPRDRO" target="_blank">May 2019</a></li>
  <li><a href="https://1drv.ms/u/s!Akh_WeVgv7PQhfs5sVTVn4rAU_W-GQ?e=NS7uWW" target="_blank">Buffalo, NY Trip</a></li>
  <li><a href="https://1drv.ms/a/s!Akh_WeVgv7PQhfpdPFgHEwuDVJBlQw" target="_blank">NC State Zoo 2019</a></li>
  <li><a href="https://1drv.ms/a/s!Akh_WeVgv7PQhfQkDSsVSdijcbY_8A" target="_blank">Easter 2019</a></li>
  <li><a href="https://1drv.ms/a/s!Akh_WeVgv7PQhfIL8g6HvjM9-2_Mlw" target="_blank">April 2019</a></li>
  <li><a href="https://1drv.ms/a/s!Akh_WeVgv7PQhfIMnBFISFZGSL05pg" target="_blank">March 2019</a></li>
  <li><a href="https://1drv.ms/a/s!Akh_WeVgv7PQhexub0h4NZ5cf5VYLA" target="_blank">Feb 2018 - March 2019</a></li>
  <li><a href="https://1drv.ms/a/s!Akh_WeVgv7PQhPsNSu3FCBx1jtO_sA" target="_blank">First Months</a></li>
  <li><a href="https://1drv.ms/u/s!Akh_WeVgv7PQhPcCCC5IlshI_eEI0g?e=u2ZH2O" target="_blank">Birth/Hospital</a></li>
</ul>
