@{
    ViewData["Title"] = "Care";
}
<h1>Care Information and Guidance</h1>
<p>This is a list of care information and guidance for Guy.</p>
<h2>Allergies</h2>
<h3>Eggs</h3>
<p>Guy appears to have a minor allergy to eggs. When we have given him cooked eggs in the past he has developed a red rash all over his body. We've not noticed this reaction to things that have eggs in them, so it may be the concentration that causes the symptoms to occur.</p>
<h2>Vaccinations</h2>
<p>I would like to list all of his vaccinations here but I feel that there is some kind of privacy issue I am not seeing that will come to haunt Guy in the future.</p>
<p>As of 3/27/2019 Guy has had all vaccines that have been recommended by his peditrician.</p>
