@{
    ViewData["Title"] = "Care";
}
<h1>Care Information and Guidance</h1>
<p>This is a list of care information and guidance for Guy.</p>
<h2>Emergency Contacts</h2>
<ul class="list-unstyled">
    <li>Mel McBeth - (704) 401-6021</li>
    <li>Joel McBeth - (910) 690-7511</li>
</ul>
<h2>Allergies</h2>
<h3>Eggs</h3>
<p>Guy appears to have a minor allergy to eggs. When we have given him cooked eggs in the past he has developed a rash all over his body. We have not seen this reaction to foods that have eggs in them, so it may be the concentration that causes the symptoms to occur.</p>
<p>Foods that have caused a reaction:</p>
<ul>
    <li>Scrambled Eggs</li>
    <li>Birthday Cake</li>
</ul>
<p>Foods that have not caused a reaction:</p>
<ul>
    <li>Baked Goods: Cake/Cookies</li>
    <li>Meatloaf</li>
    <li>Noodles/Pasta</li>
</ul>
<h2>Vaccinations</h2>
<p>I would like to list all of his vaccinations here but I feel that there is some kind of privacy issue I am not seeing that will come to haunt Guy in the future.</p>
<p>As of 3/27/2019 Guy has had all vaccines that have been recommended by his peditrician with the exception of the Flu vaccine.</p>
