@{
    ViewData["Title"] = "Blog";
}

<div id="blog">
    <div class="blog-header">
        <h1 class="blog-title">Guy McBeth's Blog</h1>
        <p class="lead blog-description">The <em>official</em> blog of Guy McBeth.</p>
    </div>

    <div class="blog-main">
        @*
        <div class="blog-post">
            <h2 class="blog-post-title"></h2>
            <p class="blog-post-meta"></p>
            <p></p>
        </div>
        *@
        <div class="blog-post">
            <h2 class="blog-post-title">Added new photo galleries</h2>
            <p class="blog-post-meta">April 9th, 2019 by Dad</p>
            <p>I've been trying to take more pictures of Guy for posterity. I've added two new albums for pictures taken in March and April.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">"Big" update</h2>
            <p class="blog-post-meta">March 12th, 2019 by Dad</p>
            <p>It's been over a year since the last update and I thought I would either trim out the parts of the site that don't get updates or try to keep it updated. Only a small skeleton of the site would remain if I decided to remove the parts that need to be updated so I decided to just update the site.</p>
            <p>Updates have been made to the gifts, photos, blog and home pages. I have also added a page for care information and guidance as well as a page to contact us.</p>
            <p>In news for Guy, he is over 18 months old now. He has gone in for his 18 month checkup and is healthy and meeting milestones. He has also graduated to the Toddler 2 class at day care as of March 22, 2019. Not much else going on.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">6th month checkup</h2>
            <p class="blog-post-meta">March 12th, 2018 by Mom</p>
            <p>Guy had his 6 month follow up on March 9th, 2018. He weighted 17lbs 13.5 oz. His height was 26” and his head width was 17”. Before his appointment I was provided a sheet that asked several questions about Guy in terms of his Fine Motor skills, Gross Motor skills, problem solving skills, etc… These questions are asked to make sure he is on the right track in terms of his growth and development. For the most part Guy seems to have all of these “skills” down. The only room for growth was in relation to picking certain items up or dropping a toy looking to where it fell. The provider stated that most boys Guy’s age is not very good at sitting up she stated that this is where most girls excel, but Guy was able to sit up very well leaving her impressed.</p>
            <p>In relation to food she stated that Guy was able to now have baby food 2-3x a day, which would start to decrease the amount of formula he s taking. She also stated it was okay to continue with the baby oatmeal. I spoke with her about how no matter what time he goes to bed he always seems to wake up at 230 or 3am. She recommends that I let him cry. Just like adults; babies can get on the same routine schedule; her example was how as adults we always wake up for work then when the weekend comes we hope to sleep in but cannot because our bodies are so used to waking up at the same time. Same situation here with Guy. She stated to let him cry for 10 minutes if he is still crying go check on him (temp, if he needs a diaper change) pat his bottom a little bit letting him know he is okay, but then leave the room (make sure it is a very quiet environment). This will take about 14 days to break him out of the habit, we have already started since Friday.</p>
            <p>During the visit I told the provider how Guy has been dealing with a rash. He has a drool rash on his face that has spread to his neck (very bad looking). Then he developed a rash on his stomach and then the following week it spread to his back. I had tried everything from Aveeno to Aquaphor. It seemed that nothing was working. At one point I was even concerned that it was the baby food since that was the only new element in Guy’s life, so we stopped the baby food for 3 days to see if his rash would clear. Upon examination the provider said that it was considered a “dry” rash located on his stomach and back AND of course the drool rash. She recommended that I give him a bath every other day, put hydrocortisone on him only at night, and then keep using the Aquaphor during the day to moisturize his skin.</p>
            <p>That night we started the hydrocortisone, today is Monday the 12th Guy’s skin looks the best it has in 2 weeks.</p>
            <p>Guy also obtained all the same vaccines from his 2 months and 4 months checkup except Hib. Guy of course did cry when he obtained the shots, but quickly reverted to his smiles.</p>
            <p>Guy is overall a very happy 6-month-old baby. He loves watching YouTube with his daddy in the morning before day care. When he gets fussy we put on music and he calms down especially when we play Bruno Mars. Guy loves to play in his bouncy seat as well as his little car. Sleeping on his tummy is a preference over sleeping on his back. Guy has officially perfected rolling over and has almost gotten down sitting up by himself. Guy should be teething soon (because he has been fussy and two he is chewing everything) we have started to feel and kind of see a little tooth coming in on the left side.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Updates</h2>
            <p class="blog-post-meta">February 27th, 2018 by Dad</p>
            <p>I've updated the First Month's gallery with some pictures i've taken since last November. Also updated his sizes.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Rolling Over Milestone</h2>
            <p class="blog-post-meta">February 15th, 2018 by Dad</p>
            <p>Me and Mel were doing tummy time with Guy today and he rolled over to his back for the first time. We practiced with him some more and he was able to do it a few more times. He did get hung up trying to turn back over onto his stomach.</p>
            <p>Guess we have to keep an eye on him now so he doesn't roll off the couch.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">New Clothing Sizes</h2>
            <p class="blog-post-meta">January 8th, 2018 by Dad</p>
            <p>Guy is growing up and it is time for him to start moving towards larger clothes. I have updated the registry page with his new clothing size, 3-6 months.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Two-month pediatrician visit</h2>
            <p class="blog-post-meta">November 9th, 2017 by Dad</p>
            <p>Today Mom took Guy for his two months pediatrician visit. He weighted 10lb, 5oz, had a length of 21.5cm, and a head circumference of 37cm. No idea why it was in metric and imperial.</p>
            <p>The doctor had been out on maternity leave, and up until this visit we only saw the nurse practitioner.</p>
            <p>We are getting concerned that he may have reflux due to his grunting and fussiness. He didn’t seem to have the overt symptoms the Dr. mentioned, but said he could have “silent” reflux where the symptoms aren’t present. It can cause him to grunt and squirm, which is something babies also do normally. The doctor said that babies have an open sphincter, but as they get bigger it gets smaller and will eventually close. The situation should eventually go away. If it gets worse or symptoms start she might start him on a trial of medicine.</p>
            <p>Mel was also concerned about the amount of congestion he had, but we had asked prior to the visit and she had recommended a humidifier, which had helped. Mel brought this up at the appointment and she also recommend and using a saline solution with this Nose Frida device for clearing his sinuses. She also indicated that if he did have reflux it could contribute to the congestion because it can reach his sinuses.</p>
            <p>We are currently feeding him 120ml, which the doctor was fine with and said we should only increase the amount if there were strong cues that he was hungry. The feeding cues can be confused with their desire to suck for comfort. Then we should only increment it by 5ml because if we increase it too much it could cause his stomach to expand to a degree that would cause discomfort.</p>
            <p>He was given the Rotavirus vaccine, orally. He also got shots for DTaP, Hib, Polio, Pneumococcal Conjugate, and his second round of Hep B. This was administered with two shots, one in each leg. Poor Guy.</p>
            <p>He won’t be going back to the Doctor until he is 4 months, hopefully.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">One month pediatrician visit</h2>
            <p class="blog-post-meta">October 10th, 2017 by Dad</p>
            <p>Guy went to visit the pediatrician for his one month checkup. He was 7lbs, 3.5oz, 19.75 inches long with a cranium measurement of 13.25 inches. He is continuing to do well in terms of his growth. According to the premature growth charts he is in his 51%, 73%, and 70% respectively.</p>
            <p>She recommended to start trying to develop his nightly sleep schedule by feeding him every four ours instead of three. So instead of our 11:00PM, 2:00AM, and 5:00AM feeding we will just feed him at 12:00AM and 4:00AM. The nurse practitioner told us the amount we feed him is still fine even though it is one less feeding, but we should try to feed him more at the 8PM, 12AM, and 4AM feedings.</p>
            <p>She also said that we might not have to keep giving him the Poly-vi-sol with iron and will follow up after his next visit. Based on what I’ve been reading and what we were told by the nurse at the hospital I was expecting to have to give it to him for up to 8 months. The NP said it was because he is doing well in terms of his growth and they might just give him vitamin D instead.</p>
            <p>He won’t have any vaccine until the next visit.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Mostly standard, for now</h2>
            <p class="blog-post-meta">October 8th, 2017 by Dad</p>
            <p>We slept in again (meaning we got out of bed after his 11AM feeding instead of 8AM). My mom was coming at 1:00PM so we had to get ready and take care of some chores before she got here. She arrived with my step dad, Woody, and they brought us lunch from Carrabba’s. It was pretty good and they got to see Guy again.</p>
            <p>After that we just continued with our routine. I ran to the store quickly to get some ingredients for my meal prepping, which I’m going to try t do again to cut cost, be healthier, and to make it easier to make meals. I don’t know what Mel is planning on doing for meals. We’ve always done our own thing when it comes to food. We just want different things at different times and we both like to make our own meals.</p>
            <p>Since I am going back to work tomorrow and Mel is graciously going to try to let me get as much sleep as possible I won’t really see the little Guy for most of the day. Also now that we are falling into the swing of things, there just isn’t much to report. That and the additional lack of time I don’t think I am going to be updating the blog unless there is something interesting to say. We do have a doctors appointment this week which I will make a post about.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Nothing New</h2>
            <p class="blog-post-meta">October 7th, 2017 by Dad</p>
            <p>We usually get up after his 8 AM feeding, but today we both were so tired we slept in till his 11 AM feeding.</p>
            <p>He continued to do well with his feeding and sleeping. Other than our friend Katie and her Mom coming to visit it was just a repeat of yesterday. He did take a whole bottle with 70 ml.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Getting Into a Routine</h2>
            <p class="blog-post-meta">October 6th, 2017 by Dad</p>
            <p>We didn’t do anything today except things around the house and watch the baby.</p>
            <p>He spit up once. He did much better on his bottle feedings. For all his bottle feedings, he took 55ml or more except for the one in between the two breast feedings. He even set a personal record of 69ml.</p>
            <p>As for his sleeping, he basically just gets fussy and then eventually cries around his scheduled feedings. If we swaddle him he usually will go in his pack and play or basinet without crying and will eventually sleep.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">He Hates His Basinet</h2>
            <p class="blog-post-meta">October 5, 2017 by Dad</p>
            <p>The day that Guy was born I had an all hands mandatory meeting at work right before I got the call from Mel to come to the hospital. I found out that our company was being bought. Today our new CEO came in the office and held an introduction meeting. I had taken this week off, but due to the gravity of the situation I felt compelled to come in. Mel was nice enough to take care of Guy while I slept and I was able to get some decent sleep with the help of a Benadryl. I went into work at the normal time and I was able to go to the store after and get home by 2:45 PM.</p>
            <p>After feeling everything out and getting into our grove we are feeling comfortable having some visitors. When I got home we had a friend over and then Mel's mom came over for a little bit.</p>
            <p>So far it is just your typical baby stuff. Our main conflicts are trying to get him to sleep in his basinet without killing him and dealing with his spitups he never did before today.</p>
            <p>For his basinet, it is almost guaranteed that within minutes of putting him in it he can go to being asleep to crying. We’ve used this magical crying machine to wake him up when he goes to sleep while feeding. With my concerns about SIDS I’ve been stringent about straying from the ABCs (Alone, Back, Crib) to try to get him to sleep in it. The doctor did say we can try to put the mattress at a slight angle by putting something under the mattress. We tried that and it didn’t change anything. At least I’m hoping it will help with any reflex or gas discomfort.</p>
            <p>The second thing we tried was swaddling him. In my Internet reading it seemed OK but the concern was that you shouldn’t leave him in the basinet with a loose blanket, and if he gets out of his swaddle then it becomes a loose blanket. That wasn’t that effective either.</p>
            <p>In the hospital, they used to roll up towels and blankets to build a little bed that surrounded him and he had a Gel pillow. What we did was do something similar, we took three rolled up towels and put it under the fitted sheet to build a pillow and bed to surround him. This has made a significant difference. He is less fussy and will not start crying within minutes of putting him in there.  I am hoping that since it is under the sheets it will not significantly increase his risk of SIDS.</p>
            <p>We were starting to think it might have something to do with the basinet so we did an experiment where we put him in his crib (for the first time) to see if he reacts the same way. Which he did. On a side note, he looks hilariously tiny in his crib.</p>
            <p>He sleeps better in his pack and play, but that is always during the day and he might just have different sleep patterns. Also, since it is during the day we are there to watch him so we don’t follow the ABCs, so he is swaddled and has a blanket to sleep on. Although, he still does get fussy when we put him in and sometimes will cry. Just not to the extent or consistency of his basinet.</p>
            <p>We find he sleeps best if he is held or make an angled bed with some soft blankets or pillows, swaddled or not. We only do this while watching him. Even laying him down on his back on our bed without being swaddled or in blankets he reacts much better than laying him down in the crib. To be fair our bed has a nice cushion and soft sheet on it.</p>
            <p>Regarding the spit up, he has never spit up any significant amount ever since we have been taking care of him in the hospital until today. Mostly what I have seen is that he will close his mouth and it will ooze out and drip down his chin. I think this is mostly due to having the bottle in his mouth while he isn’t actively sucking (generally because he is going to sleep) so it just stays in his mouth when you take the bottle out.</p>
            <p>Today he had spit up a couple times. I did not see the first time, but the second time was when I was burping him after he randomly started crying while feeding him and it got all over him and me. Since I am so used to him not spiting up I am not really on guard for that. In this instance, this was the fastest I’ve ever seen him take his bottle, which I’ve read can cause reflux.</p>
            <p>I’m not particularly worried about it since 50% of babies spit up at least once a day. I’m mostly concerned because it started today and we have not made any significant changes. Just for convenience this isn’t a habit I want him to develop. We have been trying to find ways to help avoid reflux that we have been trying to implement for several days now. Particularly having him and the bottle at a 45-degree angle, having him sit up for a few minutes after the feeding, and to try to burp him well. We have been getting concerned that he might be having reflux but not spiting up, just from how he acts after a feeding. Sometimes arching his back and getting fussy if you lay him on his back after.</p>
            <p>We think it was just a bad feeding day in general for him. He had a few feedings under his goal amount of 55ml and it was his lowest daily amount since we’ve been tracking. Although he did do a breastfeeding, which makes it harder to track, but other days he has had more from the bottle and did breastfeeding.</p>
            <p>Tomorrow I am going to try to get him to reach him goal amount either every feeding or as a total for the day. I think I’m just going to try to be more stringent about following the planned corrections I listed above. Sometimes you get lazy when burping as he doesn’t seem to burp a lot. I also read that if you keep him at too much of an incline it can increase reflux.</p>
            <p>Just to note, I say “we” a lot. Between all the discussions we have had about different things it is hard to keep track so sometimes when I say we they might just be my own concerns.</p>
            <p>This started out being a update about nothing and has turned into one of the longer posts…</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">First Pediatrician Visit</h2>
            <p class="blog-post-meta">October 4, 2017 by Dad</p>
            <p>Today was his first pediatrician visit. This is also the first time taking him in the car after his initial ride home. We put him in his seat and the car without any issue. We had purchased car window shades on Amazon after seeing how bright it was on the first ride home, although Mel was planning on purchasing something like that prior. I had put these up right before we left. They did an OK job, as it didn’t cover the whole window so it was still enough to shine right on him.</p>
            <p>Our pediatrician office is called Providence Pediatrics. Not knowing where this was or recognizing the street name we used the GPS. It was in the shopping center at the intersection of Ballantyne Commons and Johnston. Our GPS of course took us a weird way which left us guessing most of the way.</p>
            <p>There was not much to the visit. We filled out new patient paperwork, family history, medicines, allergies, etc.</p>
            <p>We then went back where the nurse weighed, measured, and took his cranial dimensions. Respectively, 3034g (6lb, 11oz), 48.9cm (19.25”), 30cm (13”). The nurse practitioner pretty much fired off all the major concerns when she came in. They sneeze, grunt, hiccup, shake their leg, have rapid inhaling, mouth twitching, and their eyes cross. All which is normal. She said they sleep 20 hours a day and just eat/drink, sleep, poop, and pee.</p>
            <p>We discussed his feeding, eating, and sleeping habits. Went over our concerns and questions. Which was mostly focused around him being extra fussing while sleeping in his basinet and how we should do his feeding when he seems hungry or is sleeping during his scheduled feeding time. What I got out of it is we should just stick to the schedule and everything is normal. Also, we can put his basinet at a slight angle which might help and not kill him in his sleep (which I was concerned about).</p>
            <p>The nurse practitioner showed us the growth tables. She prefaced it saying that the length readings can be inaccurate because it’s just hard to get a baby to sit still. Assuming his first measurement was inaccurate, he mostly correlated with the 50th percentile line in weight and length. Based on his first length on the growth charts I saw he was closer to 90th percentile.</p>
            <p>The last thing we discussed was taking Synagis, a medication that helps prevent RSV. Since Guy is premature during the start of RSV season and will be going to day care they recommend that he takes the medication. It is just administered at the pediatrician once a month for 5 months.</p>
            <p>It is funny, since he just had his first visit today his one month visit will be next week.</p>
            <p>Other than the pediatrician visit, just your normal new born baby stuff.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Finally Home</h2>
            <p class="blog-post-meta">October 3, 2017 by Dad</p>
            <p>Guy finally came home on October 1st, 2017, around noon.</p>
            <h2>The Day Before</h2>
            <p>That Saturday since we had plans to see a movie we deviated from our normal routine. We went to the hospital at our normal time to catch his 1100 feeding instead of leaving after we stayed until after his 1400 feeding. We got lunch in between.</p>
            <p>At this point we had $30.00 worth of food vouchers. Unfortunately, the only good places to eat is Chick-fil-a which has abbreviated hours and is closed on Saturday and Sunday, and the X-Ray café which pretty much only serves hamburgers. We decided to go to the cafeteria one last time for some bad food. We still have vouchers.</p>
            <p>When we got there his feeding tube was out, which we didn’t even notice at first. We were planning on breastfeeding Guy but they wanted him to try the bottles he would be using at home to get used to them. At home, we plan on using Dr. Brown’s bottles which the hospital provided us one for the feeding. It was recommended to us by the nurses in the NICU.</p>
            <p>We discussed some things for his discharge and the nurse showed us how to mix his formula. Both 100% formula or to supplement the pumped milk because they want him to have 24 calories per 30ml. She also showed how to dispense his Poly-Vi-Sol with Iron with these tiny syringes.</p>
            <p>They also told us to bring a cooler because we had given them so much milk we actually exceeded the amount they normally store. We actually planned on bringing more the day we found out he was being discharged, but we forgot.</p>
            <p>That night he did his car seat test. They didn’t contact us about the result of this, so we assumed there weren’t any issues.</p>
            <h2>Leaving Day</h2>
            <p>On Sunday (October 1) they told us we can get to the hospital by the normal time and we should be out by noon. We still ended up getting their 30 minutes before we usually do, hoping we would get out earlier. At this point we knew he was going to be discharged today.</p>
            <p>When we got there, they wanted us to do is normal care at 1100 while the nurse Angela was working on the discharged paper work. They brought a cart that looks like a train and started filling it up with pretty much everything they had in the room for him that wasn’t nailed down. We got formula, diapers, paper towels, syringes, bottles, fancy formula water, and probably more than I’m forgetting.</p>
            <p>They also brought up all the milk they had stored. We only have two coolers and the lunch box we were using. One is huge and the other is a smaller one that holds 14 cans. Apparently, we had so much that they froze a bin and a half and they normally only have one bin per person. It did not fit in my cooler, so they had to provide us with an additional container.</p>
            <p>The doctor and the nurse practitioner stopped in and gave us some more details about Guy and the discharge. They warned us to be careful about avoiding interaction with others to prevent him from getting sick. Basically, to limit contact with visitors, ensure they have proper hand hygiene before coming in contact with the baby, and not letting anyone sick near the baby. She recommended to not let him out of the house until after the holidays, not even for the holidays. <strong>So please keep that in mind when asking about seeing the baby.</strong> Another important item they mentioned was that it is RSV season, which could be like a normal cold for us, it can be potentially fatal for the baby.</p>
            <p>They also had to verify from both of us that we thought it was OK for him to come home.</p>
            <p>Once we had all that packed up I went and pulled the car up to the front and they loaded him in to his car seat and brought him down. We loaded up the car and got him strapped in and drove off. Our doctors and nurses were amazing, but if I never step foot in that hospital again I will be very happy.</p>
            <h2>After coming home</h2>
            <p>I believe it has been your typical baby coming home experience. His feeding and diaper routine hasn’t really changed. Only issue is he really doesn’t like to sleep in his basinet, or crib. We think there must be something different about them from what he was used to in the hospital that he isn’t getting accustomed to. In the hospital, he had a clear, short walled basinet with a gel pillow and surrounded by rolled up towels, swaddled with the bed at an incline. Which is fine as he is watched 24 hours and monitored by machines. But to follow the ABC’s (Alone, Back, Crib) at home we just have him in his basinet with nothing but a onesie.</p>
            <p>That has made it quite a challenge to get him back to sleep for those late-night feedings.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 22, Part 2</h2>
            <p class="blog-post-meta">September 29, 2017 by Dad</p>
            <p>We got to the hospital around our usual time. The nurse Robbie had already done Guy's care so we went straight to breastfeeding which we started at 1946. Guy fed until about 2012 with a burp in between. I gave him the bottle after that and he was still going at it. Since he breastfed for so long and I wanted to hold him I didn't try too hard to feed him and stopped after he had about 13ml.</p>
            <p>When we started breastfeeding, Robbie was talking to us through the curtain and asked us if we wanted to room in tomorrow. We were down and then I remembered that we were going to go see IT with friends. Shoutout to Cory and Nicole. That's when he sprung it on us that they were talking about discharging him on Sunday if he keeps doing what he is doing and obviously Saturday was the only day to room in. We agreed, and before we could cancel our plans he came back and said that unfortunately the rooms were reserved. There are four rooms and apparently about 8 babies were going to be discharged on Sunday.</p>
            <p>He said Guy was also changed to having a goal of 55ml for a feeding instead of a minimum, meaning they they want him to get 55ml, but they won't feed him through his tube if he doesn't. Also he might get his feeding tube out tomorrow. The nurse also mentioned he was having sneezing fits and he suspected it was the feeding tube, so that's good that it is coming out.</p>
            <p>They also plan on doing the car seat test tomorrow and we will have to go over a few things such as administering his vitamin and preparing his feeding supplement. The literature they gave us when we moved to the NPCN said that for the discharge they want us there by 9AM and we should be out by 11AM.</p>
            <p>So far the little Guy has been meeting and exceeding expectations, other than his birthdate, so I am optimistic that he will remain on track. I'm looking forward to having him home, not so sure about losing our safety net of the nurses and machines. I guess we've had a lot more experience than most before taking him home, although I still wish we got to room in. Fortunately, I had told my boss that I planned on being out this next week.</p>
            <p>We had our largest challenge yet when changing Guy before we left. He had a little poo and pee so we changed him. While we were changing him, he peed. I was able to catch most of it but it got on me, the blanket, the new diaper, and a little bit on the wall. See we tried again with a new diaper, this time I didn't think he would go again so I wasn't shielding him. So he peed all over the wall and the $2000 breast pump (that was covered in a plastic bag)... and the new diaper. The 3rd time we got it right he were able to get his new diaper on, clean. Then he pooped.</p>
            <p>He was 6lb, 9.6oz when he was weighted.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 22</h2>
            <p class="blog-post-meta">September 29, 2017 by Dad</p>
            <p>The downside to hosting your own website is that you are at the mercy of residential Internet. We have plenty of bandwidth and almost no downtime so that hadn't really been an issue... until now. For the past few days our Internet has been slowly going out and it has been happening more and more frequently. If you notice the website down, hopefully it is only temporary and you can blame spectrum for that.</p>
            <p>It has been an eventful 24 hours for Guy. He had his circumcision and his hepatitis B shot. His circumcision was done early this morning by Dr. Perez. He had been recommended to us by Mel’s mom and friends. Coincidentally, he just happens to work with CMC and was going to be the doctor performing it anyways.</p>
            <p>The nurses said he was in a little pain so they applied something they referred to as sweetie to his pacifier to help sooth him. He calmed down after that.</p>
            <p>Mel got there early hoping she could do kangaroo, but the nurses said he had been a little fussy and he finally calmed down and was sleeping before she got there. Not wanting to disrupt him she opted not to do kangaroo and waited until his feeding time to disturb him.</p>
            <p>She breastfed him for about 14 minutes and he still took 20ml from the bottle. The doctor, Dr. Neil, had made one adjustment due to the circumcision and lowered his feeding to 50ml down from 54ml. Last time I saw he had 57ml in the tube, which makes sense if he is supposed to be taking 54ml and they give 3ml extra.</p>
            <p>Mel also said the he almost pulled out his feeding tube but then he sucked it right back in. I’m amazed he hasn’t pulled it out yet, or maybe they just haven’t told us.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 21, Part 2</h2>
            <p class="blog-post-meta">September 28, 2017 by Dad</p>
            <p>Pretty standard visit. We waited in the waiting room until 7:30. Our main nurse was Tess, and Robbie was also there. Went in and started his care, his temperature was 98.9 and he needed to have his diaper changed.</p>
            <p>Mel breastfed him from 1956 to 2020 with a couple burpings in between. He wouldn't latch on after the 2nd burping so we gave him the bottle. It looked like it had around 35ml left when he was done taking that. I checked the syringe that was used to fill the bottle and it said it had 57ml in it, which is pretty good after breastfeeding for so long.</p>
            <p>I held him and tried to finish a short story I was reading from the book of short stories my mom gave me. The story is just so long so I lost interested and by then he had fallen asleep anyways. Usually he is asleep before he is even done feeding, but today he held out.</p>
            <p>After I was done reading we changed his diaper and headed home.</p>
            <p></p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 21, Part 1</h2>
            <p class="blog-post-meta">September 28, 2017 by Dad</p>
            <p>Mel did an extra breastfeeding today for his 1100 feeding. He weighted 3010g before and 3050g after. Guy is up to 6lb 10.2oz. At this rate he is going to be big by his due date. I wasn’t there so I don’t know the details but I think they estimated that he took 45ml. After that he took an additional 15ml by bottle.</p>
            <p>Since this was in the morning there was a different lactation consultant. She said that was good for breast feeding. They only put 15ml in his bottle because of that, so he took all of it. The lactation consultant last night was saying that breastfed babies don’t really overfeed because they control the flow were as when you bottle feed it is more up to who is doing the feeding.</p>
            <p>Mel also got a call from the nurse practitioner when she was driving to the hospital. She said that since he was doing so well on his feeding he could go home by early next week and as soon as this weekend. She wanted to get the paperwork done today to schedule his circumcision. They want to do the circumcision right before he is discharged because it can affect how some babies do with their feeding.</p>
            <p>We both are worried about the baby going through the circumcision, but the lactation consultant said that breastfeeding and kangaroo can help with the pain and comfort the baby.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 20, Part 2</h2>
            <p class="blog-post-meta">September 27, 2017 by Dad</p>
            <p>We had Megan again as the night nurse. She was saying how well his feedings were going. Taking 40ml or better in all his recent feedings. He took the whole bottle at 1700.</p>
            <p>She wanted to see if we wanted to breastfeed more than once a day. He seemed to be doing well during the breastfeeding and he was gaining weight so there wasn’t much risk. She recommended sending the lactation consultant Melissa by when he was breastfeeding to see how well it was going and if it would be a good idea.</p>
            <p>We did the standard routine. Took his temperature, which was 98.8 and changed his diaper. He had peed and pooped as usual. Then immediately after we changed him and took his shirt off he pooped again, as usual. The nurse weighed him and get gained another 20g, for a total of 2885g, 6lb 5.8oz.</p>
            <p>The lactation consultant came around right as we were putting his shirt on after the weighing. Which was good and bad timing because we were having a lot of trouble getting him in his shirt. He started breastfeeding at 2000. Melissa didn’t really have any corrections and said he they were both doing good.</p>
            <p>We planned to start breastfeeding twice a day. At the 1100 feeding tomorrow he is going to breastfeed and they are going to do a before and after weighing to determine how much he had to ensure he is getting the correct amount.</p>
            <p>While Guy usually breastfeeds for at least 15 minutes, which is normal, today I think he was too tired and just putting on a show for the lactation consultant as he only made it about 11 minutes. He did get a good burping in.</p>
            <p>After breastfeeding, Mel tried the bottle for a little while and he still took 22ml. The nurse mentioned that he had 55ml in his bottle when figuring out how much he had. I suppose that means they went up from the 52 they were doing before.</p>
            <p>As usual, we changed him, said our goodbyes and came home.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 20, Part 1</h2>
            <p class="blog-post-meta">September 27, 2017 by Dad</p>
            <p>Continuing with the new routine. Mel went to visit Guy at the hospital for his 1100 feeding while I was at work. I was told he had an explosive diaper, so unfortunately I missed that. His nurse for the day was Lisa, she's one of our favoriate nurses there.</p>
            <p>He had taken a whole bottle last night followed by 42ml, and 43ml of his other bottles. When Mel fed him he took 44ml. It appears that they are still giving him 52ml, so if nothing else changed they are wanting him to take 49ml and they give him 3 extra mils. The nurse practioner told us he had taken 67% of his food by bottle in the last 24 hours. We think it went down because that one nurse put a whole bottle through his feeding tube without trying the bottle.</p>
            <p>We also got some good news, Guy took his hearing test and passed.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 19, Part 2</h2>
            <p class="blog-post-meta">September 27, 2017 by Dad</p>
            <p>Me and Mel arrived at the hospital a little bit before the NPCN opened so we waited in the waiting room until it was 7:30.</p>
            <p>Our nurse Megan told us that the Day nurse had said that he wasn’t cueing for his 5:00 feeding so she had given him the whole feeding through his tube. We thought that was weird because we’ve always been able to get him to take some food by bottle every time we’ve tried.</p>
            <p>We did his care, he had a temperature of 98.5 and a diaper full of urine. When he was weighted he came in at  6lb, 5.1oz. A full lb heavier than his birth weight.</p>
            <p>Mel breast fed him from 1952 till 2116, with some burping in between. Since he breastfed for so long we didn’t think he was going to take much from his bottle. We gave it a go anyway and he was going at it. Although it always seems like he is taking more than he ends up. He took 23ml which I think was pretty good. He spent over 40 minutes actively feeding, minus burping time.</p>
            <p>I held him for a few more minutes before we changed his diaper and came home.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 19, Part 1</h2>
            <p class="blog-post-meta">September 2, 2017 by Dad</p>
            <p>Mel visited Guy for his 1100 feeding while I was at work. His weight was 6lbs 3.1oz. His temperature before feeding was 98.2. He had poop and pee in his diaper when Mel changed him.</p>
            <p>After bottle feeding he had 26ml left which he took through his feeding tube. Last I heard he was taking 49ml total, but it has been a few days since they had told us that and I don’t know if that is still accurate. Mel thought he was a little fussy and he didn’t finish more of his bottle because he wouldn’t get a good burp when she was burping him.</p>
            <p>Our nurse for the morning was Diane and she didn’t really have much information to give us. Mel was able to talk to the nurse practitioner and she was able to give us more information. In the last 24  hours he had taken 70-75% of his feedings by bottle.</p>
            <p>His bilirubin was down to 7.4. They don’t plan on testing his bilirubin again. I think his last reading was around 10. He has been trending down since they took him off the Billi lights and his levels have been under the levels recommending for receiving further treatment. Since they won’t test him again that just saves him getting poked in the foot again.</p>
            <p>My mom and Woody also came up to visit him for a little bit.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 18</h2>
            <p class="blog-post-meta">September 25, 2017 by Dad</p>
            <p>Mel went to the hospital this morning while I was at work. She was able to catch the doctor doing rounds. They are planning on check his bilirubin levels as they thought he stilled looked a little yellow. Which he does, but it always looks better, so I don’t think it is getting any worse at least. They said he took 3 full bottles last night.</p>
            <p>She fed him and he almost took his whole bottle. He had about 4ml left which they just put directly in his feeding tube, 2ml at a time a couple minutes apart.</p>
            <p>They were also leaving his butt out of the diaper again to help with the diaper rash. He had a poop related incident to where they needed to get a bath.</p>
            <p>We went to the hospital together around 1945 and we started doing his care. I took his temperature which was a normal but toasty 99.1. Then he got a visit by Grandpa Markowski for a few minutes.</p>
            <p>Afterwards Guy breastfed but we were only able to get 10 minutes out of him. We also tried the bottle event though he was out of it. We still could get him to take 13ml. I held him for a little bit. We checked his diaper and he had gone #1/#2 so we changed him and then headed out.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 17, Part 2</h2>
            <p class="blog-post-meta">September 24, 2017 by Dad</p>
            <p>Got to the NPCN around 1920, waited 10 minutes for the shift change to end.</p>
            <p>We had a new nurse, Tess. One of our previous nurses, Robbie, was there as well.</p>
            <p>They were airing out his bottom to help with the diaper rash. He was wrapped in a blanket with his bottom exposed on top of a bunch of diapers.</p>
            <p>We did his care. His temperature was 97.8. Changing his diaper was pretty easy since he wasn't wearing one.</p>
            <p>The nurse weighted him and it came out to 2785g, 6lb, 2.2oz. Finally over 6lb! She also measured his length which came out to be over 49cm. Although, I'm not sure how accurate this is as Guy was moving a lot.</p>
            <p>He breastfed from 2002 til 2025. Then we tried to feed him with the bottle. We probably tried that for 10 minutes before he started going to sleep.</p>
            <p>I held him til around 2100, we checked his diaper, which was clean, so we headed out. Unfortunately I am planning on going back to work tomorrow, so we didn't want to stay too late.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 17</h2>
            <p class="blog-post-meta">September 24, 2017 by Dad</p>
            <p>Since we had not had lunch we went to the Panera's in the hospital as soon as we arrved, at around 1150. After that we got up to his room around 1320. On the board it said his weight was 5lb, 15.8oz, just shy of 6lbs.</p>
            <p>We started doing his care around 1330 and the nurse started heating his bottle so we could feed him as soon as it was ready. His temperature was 98.6. The nurse (Angelia) said that she didn't think he was taking a lot for his earlier feedings. After we took his temperature he looked like he was working really hard to fill his diaper for us, so we waited for him to finish. We were able to change it with much incident. He kept farting so we were laughing the whole time.</p>
            <p>After changing his diaper Mel fed him with the bottle for a few minutes. It didn't seem like too long of a time before he went to sleep and wouldn't take any more. He only had about 15ml left. They give him 49ml but fill the bottle up with 3ml extra, so he probably had around 37ml. The nurse gave the rest to him through his feeding tube.</p>
            <p>We held him for a little bit before leaving around 1500.</p>
            <p>The Nurse practitioner called while we were driving back. She said Guy is doing great and he was taking 80 percent of his food by bottle. She then said we can start working on discharge paperwork toward the end of the week. I'm not sure what the time line for his discharge will be after doing the paperwork. I am assuming it wont be much longer after that. Before he is discharged we still have the car seat test and circumcision. They will also remove his feeding tube and we will get to room in with him right before he is discharged.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 16</h2>
            <p class="blog-post-meta">September 23, 2017 by Dad</p>
            <p>Got here around 1030. Ran into the doctor on the way in and she said he took the whole bottle at 0800.</p>
            <p>We took his temp, which was 99. He was wrapped pretty well. We changed his diaper without incident and he had a little poo.</p>
            <p>Spoke too soon. Right when we were about to start breast feeding he filled his diaper up. So we changed that again.</p>
            <p>The nurse mentioned that the only change was that he would be taking a multi-vitamin which they will just give him through his feeding tube after feeding.</p>
            <p>The nurse that was here when we arrived was leaving at 1100 and a nurse named Nicole would replace her. Nicole has been his nurse a few times, she is really nice and helpful.</p>
            <p>When Nicole arrived she told us more about the multi-vitamin. The vitamin is called Poly-Vi-Sol with Iron. He takes 0.5ml twice a day. I believe she said at 0800 and 2300. He will continue to take it after he leaves the hospital. The nurse guessed about a 8 months, but it would depend on the pediatrician. She said she normally fills a bottle up with 15ml of milk and the 0.5ml of the vitamin, so he will take all of the vitamin even if he doesn't finish a whole bottle. After taking the first 15ml she will try to give him the rest.</p>
            <p>She also said he took all of his last 3 bottles.</p>
            <p>Mel breast feed from 1050 to 1109. I fed him by bottle until about 1135. He took 17ml, even after breast feeding. I got just a little bit on his shirt, so we changed that.</p>
            <p>After that we went to Lunch with Grandpa McBeth, Karen, and Brittany at the Panera's in the hospital. Then we came back and they all got to visit with Guy.</p>
            <p>When they left we did his care around 1346. His temperature was 98.6 and he had a little #1/#2 and we were able to change his diaper without incident. Since the Baby shower is today we were going to let the nurse fed him, so we left when she was ready.</p>
            <p>The baby shower is at 6:30PM tonight so we won't get to visit him again till tomorrow.</p>
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Day 15, Part 2</h2>
            <p class="blog-post-meta">September 22, 2017 by Dad</p>
            <p>We got here around 1930. His weight on the board was up to 2680 (5lb, 14.5oz). Our night nurse today is Robbie. He said we might have a 6 pounder by the end of the weekend.</p>
            <p>We took his temperature which was 98.4. The nurse came in and told us that he woke up around 1900 and he changed him. A few minutes later he could tell he went again, so he changed and weighted him, took his temp and got him all ready for his feeding. Which was nice because we could just get into feeding.</p>
            <p>Started breast feeding at 1947. He didn't make it more than 5 minutes before going to sleep. We tried a bottle and we couldn't get him to take any so he got the whole bottle by feeding tube.</p>
            <p>Around 2130 we checked his diaper and he had a little bit in there. We changed it and he kept pooing during, we ended up using a couple diapers. After that we said goodbye and went home.</p>
        </div>

        <div class="blog-post">
            <h2 class="blog-post-title">Day 15</h2>
            <p class="blog-post-meta">September 22, 2017 by Dad</p>
            <p>We got to the NPCN (Neonatal Progressive Care Nursery) around 1030. His white board was updated with his weight, which was 2640g, 5lb 13.1oz. We took his temperature which was 98.9, which is between the 97-100 range we are looking for for feeding. We then changed his diaper, he had some #1 and #2. After that we tried to feed him for about 30 minutes but only had about 15ml before he went to sleep and wouldn't have anymore. The rest of it was given to him in his feeding tube over 20 minutes.</p>
            <p>After feeding he had a little bit of poop so we changed his diaper. He kept peeing while we were changing him.</p>
            <p>His diaper rash seems about the same. The nurse mentioned she was going to take him out if the diaper and blow air on him for 5 minutes and let him sit without a diaper for a bit around 2pm.</p>
            <p>The nurse also wanted to be on the watch for large poops as his protein supplement was increased and that might further irritate his diaper rash.</p>
            <p>We talked to the doctor (Dr. Lessaris) by request and she went over with us what to expect with his feeding before he is released. She said that it will take patience but we should see the amount of food he takes by bottle increase as time goes on until he is taking all of it. They want to see him do that for two days in a row, before they will release him. Sometimes they can backtrack after a day because they get tired. Once he has gone a whole day of completing his feeding we can room in for the 2nd day.</p>
            <p>We found out that our Dr. trained the pediatrician we picked when she was in residency (Dr. Rachael Fournet). She had good things to say.</p>
            <p>The Dr. also informed us the the circumcision will be done towards the end as it can interfere with feeding.</p>
            <p>We had lunch at the Chic-fil-a around 1215 and came back around 1300 to hang out with him before we took the CPR class.</p>
            <p>Around 1335 we changed is diaper and took his temperature. It was 98.3. He had wet his diaper. He must not have been done because he peed while we were changing him. Due to the strategic placement of a towel he only got it on himself and his shirt, which we had to change.</p>
            <p>After that we completed the CPR class they offered. We got a kit with a DVD and a "Mini" baby to keep so we can practice. The "Mini" baby was bigger than our actual baby.</p>
            <p>We called the nurse on the way back from the hospital to see how Guy did out of his diapers. She said that it helped and they were going to keep doing it every few hours.</p>
            <p>When I was looking at the Growth Chart in one of the preemie books i'm reading and I noticed that he was almost in the 90th percentile for weight when he was born. I think that is pretty good. If he continues according to the groth chart he will be around 8lbs at 40 weeks. The Dr. said that he was doing good for his age compared to other babies.</p>
        </div>

        <div class="blog-post">
            <h2 class="blog-post-title">Day 14</h2>
            <p class="blog-post-meta">September 21, 2017 by Dad</p>
            <p>This will be an abbreviated update.</p>
            <p>As of the 11:00 AM care and feeding Guy had finished 3 of 6 bottles for a total of 68% of his feeding by bottle, the rest was by feeding tube. He went up 1ml in his feeding from 48ml to 49ml. They also increased his protein supplement.</p>
            <p>Around 8:00PM he weighted 5lb, 11.4 ounces, up .3 ounces from his previous weighing. He breast fed for about 15-20 minutes. He feel alsleep when we tried to give him his supplement, which is OK since he breast fed normally.</p>
        </div>
    </div>
</div>