@{
    ViewData["Title"] = "Registries";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Sizing</h1>       
        <dl>
            <dt>Weight</dt>
            <dd>20lbs 11.5oz or 9.4kg (as of 6/15/2018)</dd>
            <dt>Length</dt>
            <dd>28.5" or 52cm (as of 6/15/2018)</dd>
            <dt>Clothing</dt>
            <dd>9-12 months</dd>
            <dt>Diapers</dt>
            <dd>Size 4</dd>
        </dl>
        <p>Last updated 6/16/2018.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1>Wishlist</h1>
        <a href="http://a.co/5AuCmeH" target="_blank"><img src="~/images/amazon_logo_RGB.jpg" width="200" alt="Amazon.com" /></a>
        <p class="lead">Click above to visit my freqently updated wishlist!</p>    
    </div>
</div>