@{
    ViewData["Title"] = "Gifts";
}

<h1>Gifts</h1>
<p>If you are wondering what to get Guy for Christmas, Birthdays, or whatever you should find all the information you need below.</p>

<div class="row">
    <div class="col-lg-12">
        <h2>Sizing</h2>       
        <dl>
            <dt>Weight</dt>
            <dd>27lb or 12.25kg (as of 4/26/2019)</dd>
            <dt>Height</dt>
            <dd>33" or 83.8cm (as of 3/15/2019)</dd>
            <dt>Clothing</dt>
            <dd>18 months (as of 3/27/2019)</dd>
            <dt>Diapers</dt>
            <dd>Size 5 (as of 3/27/2019)</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Address</h2>
        <p>If you want to ship something to Guy you can use the address below.</p>
        <div>10415 Alexander Martin Ave.</div>
        <div>Charlotte, NC 28277</div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Wishlist</h2>
        <a href="http://a.co/5AuCmeH" target="_blank"><img src="~/images/amazon_logo_RGB.jpg" width="200" alt="Amazon.com" /></a>
        <p class="lead">Click above to visit my freqently updated wishlist!</p>    
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Investing</h2>
        <p>Guy has a <a href="https://en.wikipedia.org/wiki/Uniform_Gifts_to_Minors_Act" target="_blank">UMGA (Uniform Gifts to Minors Action)</a> and a <a href="https://en.wikipedia.org/wiki/529_plan" target="_blank">529 plan</a> investment account. If you would like to give a gift to one of these <a href="/Contact">contact us</a>. If you'd like I can give you a receipt if you aren't sure whether we had a kid for the free money.</p>
    </div>
</div>